form.f-b
{
    background: ivory;
    border: solid 1px silver;
	box-sizing: border-box;
    width: 100%;
    padding: 10px 10px;
}

form.f-b hr
{
	width: calc(100% - 20px);
	border-width: 0;
	border-top: solid 1px silver;
	float: left;
	clear: both;
	height: 1px;
	margin: 20px 10px;
	box-sizing: border-box;
}

form.f-b div.row
{
	margin: 0;
	padding: 0;	
	width: 100%;
}

form.f-b div.row label
{
	display: inline-block;
	margin: 0;
	padding: 0 10px;
	box-sizing: border-box;
	float: left;
}

form.f-b div.row label span
{
	height: 1.5rem;
	font-size: 0.85em;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

form.f-b div.row label .field
{
	border: none;
	margin: 0;
	padding: 0 5px;
	width: 100%;
	border: solid 1px silver;
	box-sizing: border-box;
	font-size: 1em;
}

form.f-b div.row label.date .field
{
	font-size: 85%;
	padding: 0 3px;
}

form.f-b div.row label  { width: 100%; }

@media (min-width: 576px) 
{
	form.f-b div.row label.columns-1  { width: calc(     100% / 12); }
	form.f-b div.row label.columns-2  { width: calc( 2 * 100% / 12); }
	form.f-b div.row label.columns-3  { width: calc( 3 * 100% / 12); }
	form.f-b div.row label.columns-4  { width: calc( 4 * 100% / 12); }
	form.f-b div.row label.columns-5  { width: calc( 5 * 100% / 12); }
	form.f-b div.row label.columns-6  { width: calc( 6 * 100% / 12); }
	form.f-b div.row label.columns-7  { width: calc( 7 * 100% / 12); }
	form.f-b div.row label.columns-8  { width: calc( 8 * 100% / 12); }
	form.f-b div.row label.columns-9  { width: calc( 9 * 100% / 12); }
	form.f-b div.row label.columns-10 { width: calc(10 * 100% / 12); }
	form.f-b div.row label.columns-11 { width: calc(11 * 100% / 12); }
	form.f-b div.row label.columns-12 { width: calc(     100%     ); }
}

form.f-b div.row label.rows-1 	{ height: calc(     3.75rem); }
form.f-b div.row label.rows-2 	{ height: calc( 2 * 3.75rem); }
form.f-b div.row label.rows-3 	{ height: calc( 3 * 3.75rem); }
form.f-b div.row label.rows-4 	{ height: calc( 4 * 3.75rem); }
form.f-b div.row label.rows-5 	{ height: calc( 5 * 3.75rem); }
form.f-b div.row label.rows-6 	{ height: calc( 6 * 3.75rem); }
form.f-b div.row label.rows-7 	{ height: calc( 7 * 3.75rem); }
form.f-b div.row label.rows-8 	{ height: calc( 8 * 3.75rem); }
form.f-b div.row label.rows-9 	{ height: calc( 9 * 3.75rem); }
form.f-b div.row label.rows-10 	{ height: calc(10 * 3.75rem); }

form.f-b div.row label.rows-1  .field { height: calc(     3.75rem - 1.75rem); }
form.f-b div.row label.rows-2  .field { height: calc( 2 * 3.75rem - 1.75rem); }
form.f-b div.row label.rows-3  .field { height: calc( 3 * 3.75rem - 1.75rem); }
form.f-b div.row label.rows-4  .field { height: calc( 4 * 3.75rem - 1.75rem); }
form.f-b div.row label.rows-5  .field { height: calc( 5 * 3.75rem - 1.75rem); }
form.f-b div.row label.rows-6  .field { height: calc( 6 * 3.75rem - 1.75rem); }
form.f-b div.row label.rows-7  .field { height: calc( 7 * 3.75rem - 1.75rem); }
form.f-b div.row label.rows-8  .field { height: calc( 8 * 3.75rem - 1.75rem); }
form.f-b div.row label.rows-9  .field { height: calc( 9 * 3.75rem - 1.75rem); }
form.f-b div.row label.rows-10 .field { height: calc(10 * 3.75rem - 1.75rem); }

form.f-b div.row label textarea.field { resize: none; }

form.f-b h3
{
	padding: 0 10px;
	clear: both;
}

form.f-b p
{
	padding: 10px 10px;
	clear: both;
}

form.f-b .buttons
{
	clear: both;
	padding: 40px 10px 10px;
	text-align: right;
}

form.f-b .buttons input,
form.f-b .row button
{
	padding: 10px 20px;
	margin-left: 10px;
	border: solid 1px silver;
	border-radius: 5px;
    background: khaki;
    font-size: 0.75rem !important;
}

form.f-b .field:hover, form.f-b .field:focus
{
	background: blanchedalmond;
}

form.f-b button:hover, form.f-b button:focus,
form.f-b input[type='submit']:hover, form.f-b input[type='submit']:focus
{
	background: orange !important;
}

form.f-b .buttons input[type="submit"]
{
    border-color: black;
}

